<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Oracle Corporation//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
  <servlet>
    <servlet-name>VidyoIOTokenServlet</servlet-name>
    <servlet-class>com.vidyo_io.server.VidyoIOTokenServlet</servlet-class>
    <init-param>
      <param-name>appID</param-name>
      <param-value>YOUR VIDYO IO appID</param-value>
    </init-param>
    <init-param>
      <param-name>key</param-name>
      <param-value>YOUR VIDYO IO KEY</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>VidyoIOTokenServlet</servlet-name>
    <url-pattern>/getToken/*</url-pattern>
  </servlet-mapping>
</web-app>
